*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "TT Norms";
}

body .massage {
  position: fixed;
  top: 700px;
  right: 80px;
  bottom: -50px;
  -webkit-animation-name: buttonAnimation;
          animation-name: buttonAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.container {
  width: 1710px;
  margin: 0 auto;
  padding: 0 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@-webkit-keyframes buttonAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes buttonAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body .left__menu {
  width: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__body .left__menu .little {
  position: absolute;
  left: 7px;
}

.header__body .left__menu .menu {
  font-weight: normal;
  font-size: 20px;
  text-align: right;
  color: #000000;
}

.header__body .left__menu .menu:hover {
  color: #f77a0e;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header__call_btn {
  width: 150px;
  height: 45px;
  background: #ed111d;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.52%;
  color: #ffffff;
  font-family: "TT Norms";
  -webkit-animation-name: buttonAnimation;
          animation-name: buttonAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header__call_btn:hover {
  background-color: seashell;
  color: #ed111d;
  border: 1px solid red;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.header__call_btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.uslugi_top {
  padding: 40px 0 0px;
}

.uslugi_top__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.uslugi_top__title {
  font-weight: normal;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  width: 872px;
  margin: 48px auto 54px;
}

.uslugi_top__img {
  display: block;
  width: 803px;
  height: 550px;
  margin-bottom: 171px;
  margin: auto;
}

.uslugi_center {
  margin: 0;
}

.uslugi_center__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 114px;
  margin-top: 140px;
}

.uslugi_center__line .line1 {
  width: 700px;
}

.uslugi_center__line span {
  margin: 0 18px 0 21px;
  font-weight: normal;
  font-size: 26px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #000000;
}

.uslugi_center__line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 114px;
  margin-top: 140px;
}

.uslugi_center__line2 .line1 {
  width: 600px;
}

.uslugi_center__line2 span {
  margin: 0 18px 0 21px;
  font-weight: normal;
  font-size: 26px;
  line-height: 100.52%;
  text-transform: uppercase;
  color: #000000;
}

.uslugi_center__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 24px;
  margin-top: 28px;
}

.uslugi_center__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uslugi_center__wrapper p {
  width: 798px;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  color: #000000;
}

.uslugi_center__subtitle2 {
  text-align: end;
}

.uslugi_center__subtitle2 h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 141%;
  text-align: right;
  color: #000000;
  margin-bottom: 5px;
}

.uslugi_center__subtitle2 p {
  margin-left: auto;
  width: 554px;
  font-weight: normal;
  font-size: 20px;
  line-height: 133%;
  text-align: right;
  color: #000000;
}

.uslugi_center__subtitle3 h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 141%;
  text-align: left;
  color: #000000;
  margin-bottom: 5px;
}

.uslugi_center__subtitle3 p {
  width: 554px;
  font-weight: normal;
  font-size: 20px;
  line-height: 133%;
  text-align: left;
  color: #000000;
}

.blog {
  background-color: #161616;
}

.blog__wrapper {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .info__name {
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #ffffff;
}

.blog .info__body {
  width: 729px;
  margin-top: 13px;
  font-weight: bold;
  font-size: 40px;
  line-height: 130.52%;
  color: #ffffff;
}

.blog .info__link {
  margin-left: 419px;
  margin-top: 38px;
  display: block;
  font-weight: 500;
  font-size: 26px;
  line-height: 156.02%;
  color: #ffffff;
}

.blog .info__link:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: rgba(207, 207, 238, 0.534);
}

.blog__number {
  width: 350px;
  margin: 119px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__number a {
  font-weight: bold;
  font-size: 30px;
  line-height: 156.02%;
  color: #ffffff;
}

.blog__number a:nth-child(1)::after {
  content: "";
  display: block;
  background-color: white;
  height: 5px;
  width: 24px;
  border-radius: 5px;
}

.blog__number a:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: rgba(207, 207, 238, 0.534);
}

.blog__number .next {
  margin-right: 0;
  padding: 13px 38px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.blog__number .next:hover {
  color: white;
  background-color: black;
}

.form {
  margin: 70px auto 0px;
  padding: 53px 83px 82px 44px;
  width: 1140px;
  height: 646px;
  border: 2px solid rgba(107, 107, 107, 0.5);
  border-radius: 3px;
}

.form__title {
  margin-bottom: 91px;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: #ffffff;
  text-align: center;
}

.form__title span {
  color: red;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__input {
  width: 376px;
  height: 38px;
  margin-bottom: 53px;
  padding-left: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.form__input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.form__input:-ms-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.form__input::-ms-input-placeholder {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.form__input::placeholder {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
}

.form__line1 {
  position: absolute;
  top: 40px;
}

.form__line2 {
  position: absolute;
  top: 130px;
}

.form__line3 {
  position: absolute;
  top: 220px;
}

.form__massage {
  font-weight: bold;
  font-size: 20px;
  line-height: 156.02%;
  color: rgba(255, 255, 255, 0.3);
}

.form__right {
  position: relative;
  margin-left: 165px;
}

.form__right .textarea {
  width: 376px;
  height: 190px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
  padding-left: 10px;
}

.form__line4 {
  position: absolute;
  top: 220px;
  left: 0;
}

.form .submit {
  display: block;
  width: 150px;
  height: 45px;
  margin-top: 78px;
  margin-left: 760px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.form .submit:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}

.footer {
  background-color: #9f9f9f;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0 50px;
}

.footer__social {
  width: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  margin-top: 12px;
}

.footer__social .icon_footer {
  fill: red;
}

.footer__social .icon_footer:hover {
  fill: #0051ff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__title {
  width: 500px;
  font-weight: bold;
  font-size: 40px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.5);
}

.footer__address li {
  margin-bottom: 32px;
}

.footer__address li:nth-child(3) {
  margin-bottom: 0;
}

.footer__address li h5 {
  font-weight: bold;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.8);
}

.footer__address li p {
  font-weight: normal;
  font-size: 26px;
  line-height: 109.52%;
  color: rgba(0, 0, 0, 0.5);
}

.footer__nav li {
  margin-bottom: 13px;
}

.footer__nav a {
  font-weight: bold;
  font-size: 26px;
  color: rgba(71, 71, 71, 0.5);
}

.footer__hr {
  border: 1px solid #898989;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29px 0;
}

.footer__bottom p {
  font-weight: 500;
  font-size: 16px;
  line-height: 109.52%;
  color: rgba(71, 71, 71, 0.8);
}
/*# sourceMappingURL=services.css.map */