@import "../variables";

.partner {
  background-color: #ffffff;

  &__body {
    padding: 41px 0 33px;
  }

  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 100.52%;
       text-transform: uppercase;
       text-align: center;

    color: #000000;
  }

  &__wrapper {
    margin-top: 56px;
    @include flex_between_center;
  }
}
