.uslugi_top {
  padding: 40px 0 0px;

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;

    text-align: center;

    color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    font-weight: normal;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #000000;

    width: 872px;
    margin: 48px auto 54px;
  }

  &__img {
    display: block;
    width: 803px;
    height: 550px;
    margin-bottom: 171px;
     margin: auto;
  }
}
